{
  "sourceMaps": "inline",
  "plugins": [
    ["add-module-exports", {}],
    ["transform-class-properties", {}],
    ["transform-object-rest-spread", {}]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.9.3",
          "browsers": "chrome 61"
        }
      }
    ],
    "react"
  ]
}
