{
  "sourceMap": "inline",
  "plugins": [
    ["add-module-exports", {}],
    ["transform-async-to-generator", {}],
    ["transform-decorators-legacy", {}],
    ["transform-class-properties", {}],
    ["transform-es2015-modules-commonjs", { "strictMode": false }],
    ["transform-export-extensions", {}],
    ["transform-do-expressions", {}],
    ["transform-function-bind", {}],
    ["transform-object-rest-spread", {}],
    ["transform-es2015-spread", {}],
    ["transform-flow-strip-types", {}]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "7.4",
          "browsers": "chrome 56"
        }
      }
    ],
    "react"
  ]
}
